<div style = "width: 100%; height: 200px; display: block;">
    <div class="card-box">
      <!-- map component on home page -->
        <div class="float-md-right float-right d-md-inline d-none">
            <button type="button" class="btn btn-xs btn-lighten-blue  width-xs mr-md-1 mr-0"
              (click)="loadMap('cases');">Cases</button>
            <button type="button" class="btn btn-xs btn-lighten-danger  width-xs mr-md-1 mr-0"
              (click)="loadMap('deaths')">Deaths</button>
            <button type="button" class="btn btn-xs btn-lighten-success width-xs mr-md-1 mr-0"
              (click)="loadMap('recovered')">Recovered</button>
            <button type="button" class="btn btn-xs btn-lighten-warning width-xs"
              (click)="loadMap('critical')">Critical</button>
            <button type="button" class="btn btn-xs btn-lighten-warning width-xs"
              (click)="loadMap('active')">Active</button>
        </div>
        <div class="table-responsive" [class.d-none]="isLoadingMap" >
            <div id="worldChart"  style = "width: 100%; height: 420px; display: block;" ></div>
        </div>
    </div>
</div>
