/* message if logged in*/
.dm1{
margin-left: 10px;
font-size: 20px;
text-shadow: 2px 2px lightgray;
}
/* message if not logged in*/
.dm2{
margin-left: 700px;
  margin-left: 4px;
  text-shadow: 2px 2px lightgray;
  font-size: 20px;
  text-align: center;
}
/* button in donation landing*/
.dlbutton{
  background-color: #4be3b5;
    border: none;
    color:black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

}
/*nav link styling*/
.navlink{

  background-color:#2cd1be;
    border: none;
    color:black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

}
.nav{
  margin-left: 148px;
}
