.nav-link{
    margin-left: 0.5rem !important;
}

.logo{
    height:40px;
    margin-right:10px;
}
.chatbot{

}

.menu{
    width: 100%;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    color: white;
    font-weight: 500;
}
