.base-container{
  //background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-color: white;
    color: white !important
}

.base-table-div{
    //background-color: #cfebb5;
    color: white;
    margin: 1px;
}
