
<div class="container news-container"  *ngFor="let news of newsData">
    <div class="col-sm-12 newsdiv" >
      <!-- news section -->
        <div class="row row-div">
            <div class="col-sm-2 image-div">
                <img class="thumbnail-news-image" [src]="news.urlToImage"  alt="News Image" />
            </div>
            <div class="col-sm-10">
                <h5 class= "news-h5" >
                  <!-- importing through apis -->
                <span  class="badge badge-danger cBadge name-span">{{news.source.name}}</span>
                <a [href]="news.url" target="_blank" class="a-author">{{news.author}}</a>
                <span  class="badge badge-primary cBadge date-span">{{news.publishedAt | date }}</span>
                </h5>
            <div>{{news.description}}
                <a [href]="news.url" target="_blank" >Read More</a>
            </div>
            </div>
       </div>
    </div>
</div>


